# Dependencies
node_modules/
.pnp
.pnp.js

# Testing and coverage
coverage/
*.lcov
.nyc_output

# Production Build
dist/
build/

# Local Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Uploads & Storage
uploads/
storage/
temp/
*.log

# Editor and OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
